.btn {
  font-weight: var(--fw-bold);
  font-family: var(--ff-body);
  min-width: 200px;
  height: 56px;
  border-radius: 28px;
  padding-top: 16px;
  text-decoration: none;
}
.btn-primary {
  background-color: #fff !important;
  color: var(--col-aqua-400);
  border: 1px solid var(--col-aqua-400) !important;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.1);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--col-aqua-400) !important;
    color: #fff;
    box-shadow: none;
  }
}
.btn-header {
  margin: 1rem auto;
  display: block;
  @media (min-width: 992px) {
    display: inline-block;
    margin: unset;
  }
  width: 160px;
  min-width: 160px;
  height: 45px;
  line-height: 1;
  font-size: 0.875rem;
  font-weight: 700 !important;
  background-color: #fff !important;
  color: var(--col-aqua-400);
  border: 1px solid var(--col-aqua-400) !important;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.1);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--col-aqua-400) !important;
    color: #fff;
    box-shadow: none;
  }
}

.btn--blue {
  background-color: var(--col-aqua-400)-300 !important;
  &:hover,
  &:focus,
  &:active {
    background-color: white !important;
    color: var(--col-aqua-400);
  }
}

.btn-secondary {
  background-color: #fff !important;
  color: var(--col-purple-400);
  border: 1px solid var(--col-purple-400) !important;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.1);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--col-purple-400) !important;
    color: #fff;
    box-shadow: none;
  }
}

.btn-large {
  width: 300px;
}

.btn-previous,
.btn-next {
  @extend .btn;
  @extend .btn-primary;
}

.btn-next {
  &::after {
    content: "\f105";
    font-family: var(--ff-fa);
    margin-left: 0.5rem;
  }
}

.btn-previous {
  &::before {
    content: "\f104";
    font-family: var(--ff-fa);
    margin-right: 0.5rem;
  }

  &::after {
    content: "";
  }
}
