/* Colour Classes */
.has-dark-color,
.text--dark {
  color: var(--col-dark);
}
.has-dark-background-color,
.bg--blue {
  background-color: var(--col-blue-400);
}

.has-light-color,
.text--light {
  color: var(--col-light);
}
.has-light-background-color,
.bg--aqua-300-tx {
  background-color: var(--col-aqua-tx);
}

.has-blue-400-color,
.text--blue-400 {
  color: var(--col-blue-400);
}
